* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 10px;
  font-family: "Times New Roman", Times, serif;
  scroll-behavior: smooth;
  background-color: var(--bg);
}
@media screen and (max-width: 590px) {
  html {
    font-size: 8px;
  }
}
@media screen and (max-width: 420px) {
  html {
    font-size: 7px;
  }
}

ul li {
  list-style: none;
}
a {
  text-decoration: none;
  color: var(--ngray);
}
.flex {
  display: flex;
  flex-wrap: wrap;
}
:root {
  --blue: #1e90ff;
  --white: #ffffff;
  --nblack: #212121;
  --ngray: #e7e9eb;
  --bg: #f7f7f7;
}
::-webkit-scrollbar {
  height: 6px;
  cursor: pointer;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px rgb(116, 65, 65);
  border-radius: 2px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #d7d6d6;
  border-radius: 2px;
}
